<h2>お客様からお見積り依頼がありました。</h2>

--------------------------
<p>氏名: <%= @request.name %></p>
<p>メールアドレス: <%= @request.email %></p>
<p>お問い合わせ内容:</p>
<p><%= @request.request_detail %></p>
--------------------------