<h2><%= @request.name %> 様</h2>
　<p>この度は、お見積り依頼ありがとうございました。<br>
　以下の内容でお見積り依頼を送信しました。</p>

  --------------------------
  <p><%= @request.request_detail %></p>
  --------------------------

  <p>今後とも XXX会社 をよろしくお願いいたします。</p>