<h2><%= @contact.name %> 様</h2>
　<p>この度は、お問い合わせありがとうございました。<br>
　以下の内容でお問い合わせを送信しました。</p>

  --------------------------
  <p><%= @contact.contact_detail %></p>
  --------------------------

  <p>今後とも XXX をよろしくお願いいたします。</p>