<div class="row">
	<h1 style="width: 300px;height: 80px;border-radius: 15px;font-size: 40px;font-weight: bold;text-align: center;padding-top: 20px;">会社概要</h1>

	<div class="col-md-offset-2 col-md-8">
		<table class="table">
			<tbody style="font-size: 25px;">
				<tr>
					<td><strong>■会社名</strong></td>
					<td>XXX会社</td>
				</tr>

				<tr>
					<td><strong>■住所</strong></td>
					<td>XXXXX<br>
					    TEL 000-000-0000<br>
					    FAX 000-000-0000
					</td>
				</tr>

				<tr>
					<td><strong>■創立</strong></td>
					<td>昭和26年  1月  XXX布張所開業<br>
					    昭和36年  4月  ラミネート1号機作成<br>
					    昭和39年 10月  ラミネート2号機作成<br>
					    昭和45年  4月  工場建設<br>
					    昭和46年  1月  XXX会社設立<br>
					    昭和46年  2月  ラミネート3号機作成<br>
					    昭和62年 10月  バイヤステープ開業<br>
					    平成元年 10月  XXX支店開設<br>
					    平成5年  10月  ラミネート3号機作成
					</td>
				</tr>

				<tr>
					<td><strong>■資本金</strong></td>
					<td>XXX万円</td>
				</tr>

				<tr>
					<td><strong>■事業内容</strong></td>
					<td>EVA/ウレタン各種張加工一式<br>
					    バイヤステープ一式</td>
				</tr>

				<tr>
					<td><strong>■敷地面積</strong></td>
					<td>X人</td>
				</tr>

				<tr>
					<td><strong>■敷地面積</strong></td>
					<td>XXX坪（工場/倉庫面積　XXX坪）</td>
				</tr>

				<tr>
					<td><strong>■役員</strong></td>
					<td><%= image_tag 'no_image.jpg', :size => "120x150", format: 'jpeg' %><br>
					    代表取締役<br>
					    山田　太郎</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>