/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require jquery-ui/datepicker
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

header {
  width: auto;
  height: 180px;
  background-color: rgba( 230, 230, 250, 1 );
  padding-top: 50px;
  padding-left: 80px;
  padding-right: 100px;
  color: black;
  font-family: 'Corben', cursive;
}

.information{
  width: 100%;
  height: 200px;
  font-size: 25px;
  margin-left: 60px;
  padding-top: 20px;
  padding-bottom: 450px;
}

.image {
  background-position: center;
  padding-bottom: 50px;
  }

.image-size{
  height: 600px;
  width : 100%;
}

.slick-dots {
        position: absolute !important;
        bottom: 20px !important;
        li {
          font-size: 20px !important;
          button:before {
            content: "●" !important;
            font-size: 14px !important;
            color: rgb(60, 60, 60) !important;
          }
        }
      }